<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Statics/styles/crearPlaylist.css">

</head>
<body>
    <main id="listaRepro">
        <article id="album">
            <p class="tipog">Crear una Playlist</p>
            <div class="estiloa" id="portada">

            </div>
            <br>
            <div class="estilob" id="agregarC">
            <button class="tipog" > Agregar canciones</button>
            </div>
        </article>
        </article>
                <div id="lista"></div>
        </article>
    </main>
     <script src="../Dynamics/crearPlaylist.js"></script>

</body>
</html>