<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/inicio.css">
    <title>Yolcame Miusic</title>
</head>
<body>
    <section id="grad">
        <header class="header">
            <h1 id="site">Yolcame Miusic</h1>
            <nav id="headerNav">
                <div class="songSearch">
                    <form>
                        <input type="search" id="search" name="search">
                        <button type="submit" id="submitSearch">
                            <img src="../Statics/img/search.svg" alt="searchIcon" id="searchIcon">
                        </button>
                    </form>
                </div>
                <a href="" id="headerUser">
                    <img src="../Statics/img/Ranita.png" alt="userIcon" id="froggy">
                </a>
            </nav>
        </header>
        <nav class="topBarNav">
            <a href="" class="navBar">  
                <span>Playlist</span>
            </a>
            <a href="" class="navBar">
                <span>Artistas</span>
            </a>
            <a href="" class="navBar">
                <span>Géneros</span>
            </a>
            <a href="" class="navBar">
                <span>Canciones destacadas</span>
            </a>
            <a href="" class="navBar">
                <span>Créditos</span>
            </a>
            <a href="" class="navBar">
                <span>Mi resumen</span>
            </a>
        </nav>
    </section>
    <main class="main">
        <section id="mainSection">
            <article id="myPlaylists">
                <div class="mainTitle" id="myPlaylists">Mis Playlists</div>
                <div id="grid">
                    <div class="mainElement">a</div>
                    <div class="mainElement">a</div>
                    <div class="mainElement">a</div>
                </div>
            </article>
            <article>
                <img src="../Statics/img/Ranita.png" alt="mainFig" id="ranita2">
                <div id="centerDiv">Crear Playlist</div>
            </article>
            <article id="recSongs">
                <div class="mainTitle" id="recSongs">Canciones que te recomendamos</div>
                <div id="grid2">
                    <div class="mainElement">a</div>
                    <img src="../Statics/img/songPlus.png" alt="+">
                    <div class="mainElement">a</div>
                    <img src="../Statics/img/songPlus.png" alt="+">
                    <div class="mainElement">a</div>
                    <img src="../Statics/img/songPlus.png" alt="+">
              </div>
            </article>
        </section>
    </main>
</body>
</html>