<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../Statics/styles/perfil.css">
    <title>Perfil</title>
</head>

<body>
    <header>
        <img src = "../Statics/img/usuarioSinFoto.avif" width = "170">
        <h1> Nombre de usuario </h1>
    </header>

    <main>
        <section id = "datosUsuario">
            <h3> Horas registradas: </h3>
            <h3> Artista favorito: </h3>
            <h3> Canción favorita: </h3>
            <br>
            <h3> Descripción del usuario: </h3> <br>    
        </section>
    </main>

    <footer>
        <button type = "button" class = "cambiar"> Cambiar nombre </button>
        <button type = "button" class = "cambiar"> Cambiar fondo </button>
        <button type = "button" class = "cambiar"> Cambiar animal </button>
    </footer>
</body>
</html>